.footer-outer{
    background: #333;
}

footer{
    height: 10em;
    background-color: #3586ff;
}

footer .social-icon a{
    display: inline-block;
    transition: 0.5s;
}

footer .social-icon a:hover{
    transform: translateY(-10px);
}

footer .footer-nav a{
    display: inline-block;
    opacity: 0.75;
    text-decoration: none;
    font-size: small;
}

footer .footer-nav a:hover{
    opacity: 1;
    text-decoration: underline;
}

.footer-last{
    font-size: x-small;
}

footer .wave{
    top: -4em;
    left: 0;
    height: 4em;
    background: url('../images/wave.png');
    background-size: 1000px 70px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave_01 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave_01 3s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 2s linear infinite;
}

@keyframes animateWave_01 {
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}