body{
    background: linear-gradient(45deg,#00bcd4,#ffeb3b);
}

.dash-card{
    height: 18em;
    width: 20em;
    transition: 0.5s;
    &:hover{
        /* height: 30em; */
        transform: scaleY(1.2) scaleX(1.1);
    }
}

.dash-card .imgbox{
    position: absolute;
    top: 1em;
    height: 12em;
    width: 18em;
    border-radius: 11px;
    background: #000;
    transition: 0.5s;
}

.imgbox i{
    font-size: 5em;
}

.dash-card:hover .imgbox{
    top: -4em;
    transform: scaleY(0.75) scaleX(0.85);
}

.content{
    top: 14em;
    height: 3em;
    overflow: hidden;
    transition: 0.5s;
    text-align: justify;
}

.dash-card:hover .content{
    top: 6em;
    height: 10.5em;
}

.content h2{
    color: var(--clr);
    text-align: center;
    margin-top: 2px;
}

.content a{
    /* position: relative; */
    /* top: 10px; */
    display: inline-block;
    background: var(--clr);
    padding: 8px 15px;
    font-weight: 500;
    border-radius: 7px;
}