* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #23242a;
}

.outer {
    position: relative;
    height: 420px;
    width: 380px;
    background: #1c1c1c;
    overflow: hidden;
    border-radius: 11px;
}