body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 97vh;
    background: #2f363e;

}

.clock-container {
    position: relative;
    background: #2f363e;
    border-top-left-radius: 15em;
    border-top-right-radius: 15em;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.75),
        10px 10px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 20px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clock {
    position: relative;
    width: 30em;
    height: 30em;
    border-radius: 50%;
    background-color: #2f363e;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 20px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;

    &::before{
        content: '';
        position: absolute;
        width: 0.75em;
        height: 0.75em;
        background-color: #2f363e;
        border: 2px solid white;
        border-radius: 50%;
        z-index: 100;
    }
}

.clock span{
    position: absolute;
    inset: 1.25em;
    color: #fff;
    text-align: center;
    transform: rotate(calc(30deg*var(--i)));
}

.clock span b{
    font-size: 2em;
    opacity: 0.25;
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-30deg*var(--i)));

}

.circle{
    position: absolute;
    width: 21em;
    height: 21em;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;

    &::before{
        content: '';
        position: absolute;
        width: 1em;
        height: 1em;
        top: -8.5px;
        border-radius: 50%;
        background: var(--clr);
        box-shadow: 0 0 20px var(--clr),
        0 0 60px var(--clr);
    }
}

.circle i{
    position: absolute;
    width: 0.35em;
    height: 52%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.circle:nth-child(1) i{
    width: 2px;
}

.circle:nth-child(2) i{
    width: 6px;
}

.circle2{
    width: 15em;
    height: 15em;
    z-index: 9;
}

.circle3{
    width: 10em;
    height: 10em;
    z-index: 8;
}

.time{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0.25);
    margin-block: 1em;
    padding: 0.25em 1em;
    border-radius: 1em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

.time div{
    position: relative;
    width: 1.5em;
    text-align: center;
    font-weight: 500;
    color: var(--clr);
}

.time div:nth-child(1)::after,
.time div:nth-child(2)::after{
    content: ':';
    position: absolute;
    right: -0.15em;
    top: -0.1em;
}

.time div:last-child{
    font-size: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5em;
    color: #fff;
}

.time div:nth-child(2)::after{
    animation: animate 1s steps(1) infinite;
}

@keyframes animate {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}